Open Terminal
3 dots beside run in top left corner
terminal -> New terminal
Run the below commands step by step
python -m venv env  
env\Scripts\activate
pip install django 
cd fruit_inspection
pip install opencv-python
pip install numpy joblib 
pip install scikit-learn 
pip install Pillow       
python manage.py makemigrations
python manage.py migrate       
python manage.py runserver